<!DOCTYPE html>
<html>
<head>
  <title>Farmsandmarkets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3><a class="navbar-brand" href="/">Farms and Markets</a></h3>
<%= yield %>

</body>
</html>
